

.container {
    margin: 0;
    position: absolute;
    width: 100%;
}

.menu {
    position: absolute;
    font-size: 20px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-right: 100px;
}

.menu ul li {

    margin-top: 50px;
    margin-left: 30px;
    display: inline-block;
    width: 60px;
}

.menu a {
    font-size: 18px;
    left: 1200px;
    top: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    position: relative;
}

.search {
    padding: 3px;
    text-align: center;
    background-color: white;
    margin-left: 40px;
    border: 1px solid white;
}

.search input {
    margin-left: 5px;
    top: -6px;
    border: 1px solid #4195fc;
    border-radius: 10px;
    position: relative;
    height: 25px;
    width: 220px;
}

.search img {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 50px;
    background-color: #CCCCCC;
}

.img-header{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

.footer {
    margin-top: 20px;
    text-align: center;
    height: 150px;
    border-top: 1px solid black;
    position: relative;
    bottom: 0;
}

.footer .image-footer {
    margin-top: 70px;
}

.footer .image-footer img {
    padding-right: 20px;
    width: 50px;
    height: 30px;
}


